* {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

#user-login {

  .submit__btn__wrapper {
    height: 60px;
    display: flex;
    justify-content: center;
  }

  .btn__horizontal__wrapper {

    display: flex;
    justify-content: flex-end;
    flex-direction: row;

  }

  /* Form Layout */

  .form-wrapper {
    background: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;

    .basic__button {
      min-width: 120px;
      width: 70%;
      margin-top: 20px;
    }

  }

  h1 {
    text-align: center;
    padding: 15px 0;
  }

  form {
    padding: 0 1.5em;
  }

  .form-item {
    width: 100%;
    input {
      border: none;
      border-bottom: 2px solid #e9e9e9;
      color: #666;
      font-size: 1em;
      height: 20px;
      transition: border-color 0.3s;
      width: 100%;
      &:focus {
        border-bottom: 2px solid #c0c0c0;
        outline: none;
      }
    }
  }

  .button-panel {
    margin: 2em 0 0;
    width: 100%;
    .button {
      background: #f16272;
      border: none;
      color: #fff;
      cursor: pointer;
      height: 50px;
      font-size: 1.2em;
      letter-spacing: 0.05em;
      text-align: center;
      text-transform: uppercase;
      transition: background 0.3s ease-in-out;
      width: 100%;
    }
  }

  .form-footer {
    cursor: pointer;
    font-size: 1em;
    padding: 1em 0;
    text-align: center;

    P {
      margin-bottom: 10px;

    }

    a {
      color: #8c8c8c;
      text-decoration: none;
      transition: border-color 0.3s;

    }
  }
}

.basic__button {
  background-color: #8DC63F;
  box-shadow: 0 5px 0 0 #6f9e63;
}

.cancel__button {
  background-color: #e77471;
  box-shadow: 0 5px 0 0 #f75d59;
}

.basic__button,
.cancel__button {

  border-style: none;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  text-decoration: none;
  position: relative;
  display: inline-block;
  text-align: center;
  margin: 5px;

  &:active {
    transform: translate(0px, 5px);
  }

}
